// COLORS
$black: #010101;
$white: #f1f1f1;
$grey: rgb(212, 209, 209);
$turbo-dark-turquiose: #000e06;
$very-dark-turquiose: #002223;
$dark-turquiose: #025043;
$turquoise: #036c5f;
$light-turquoise: #048c7f;
$text-outline-color: rgb(190, 187, 187);

//PADDING I MARGIN VALUES
$super-small: 10px;
$small: 20px;
$normal: 30px;
$medium: 40px;
$big: 60px;

// BORDER RADIUS
$radius-small: 5px;
$radius-round: 50%;

// TRANSITION DURATION
$transition-duration-short: 0.2s;
$transition-duration-long: 0.4s;
